data/*.db
data/*.db-journal
data/*.db-shm
data/*.db-wal
.DS_Store
.env
.env.local
*.log
.next
node_modules
out
*.tsbuildinfo
tsbuildinfo
.vercel
data/literature/*.docx
data/literature/*.txt
data/literature/*.jpg
